#userRegisterForm{
    margin: 0 auto;
    width: 550px;
    margin-top: 5%;
}

input{
    width: 100%;
    padding: 1%;
}

.inputRegister{
    margin-top: 15px;
}

.logoCad{
    margin-left: 33%;
}

.btnCadUser{
    margin-top: 10px;
    color: #fff;
    background-color: black;
    width: 80%;
    margin-left: 10.5%;
}

.btnCadUser:hover{
    background-color: gray;
}