body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#0f0f0f, #1a1a1a);
    color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #121212;
    border-bottom: 1px solid #444;
}

.tittleLogo img {
    width: 20%;
}

.loginregister ul {
    display: flex;
    gap: 1rem;
}

.buttonRL a {
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: all 0.3s;
}

.buttonRL button {
    color: #961e1e;
    background: none;
    padding: 8px 16px;
    border: 1px solid #961e1e;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: -15%;
}

.buttonRL button:hover {
    background-color: #ffffff22;
}

.buttonRL a:hover {
    background-color: #ffffff22;
}

.listProducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.listProductsLocked {
    display: flex!important;
    justify-content: center!important;
    flex-wrap: wrap!important;
    gap: 2rem!important;
    padding: 2rem!important;
}

.productCard {
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 250px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
}

.productCard:hover {
    transform: scale(1.05);
}

.productCardLocked {
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 250px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
}

.productCard img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.productCardLocked img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.productCardLocked h2 {
    font-size: 1.3rem;
    color: #d00000;
    margin-bottom: 0.5rem;
}

.productCardLocked p {
    font-size: 0.95rem;
    color: #ccc;
    margin-bottom: 1rem;
}


.productCard h2 {
    font-size: 1.3rem;
    color: #ffa200;
    margin-bottom: 0.5rem;
}

.productCard p {
    font-size: 0.95rem;
    color: #ccc;
    margin-bottom: 1rem;
}

.buyButton {
    background-color: #00d084;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buyButton:hover {
    background-color: #00a76b;
}

.buyButtonLocked {
    background-color: #d00000;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.buyButtonLocked:hover {
    background-color: #ff0000;
}

footer{
    text-align: center;
}

.footer {
    background-color: #121212;
    color: #fff;
    padding: 1rem;
    margin-top: auto;
    align-items: center;
}

.footer h2{
    text-align: center;
}