.banner {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  margin-top: 20px;
  border-radius: 50px;
  width: 90%;
  margin-left: 3.5%;
}

  .banner h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .banner p {
    font-size: 1.1rem;
    margin-bottom: 35px;
  }
  
  .btnScroll {
    background-color: #00d084;
    color: #000;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
  }  
  .btnScroll:hover {
    background-color: #00a76b;
  }
  