li {
    list-style-type: none;
}

img{
    width: 100%;
}

/*###########################################  INITAL PAG ###########################################################*/

/*#################### BARRA ##########*/
.topBar{
    display: flex;
    width: 20%;
}

.loginregister {
    display: flex;
    align-items: center;
}

.tittlePag{
    text-align: center;
    font-size: 35px;
}

.buttonRL {
    margin-left: 10px;
}

.buttonRL a {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
}

.loginregister ul{
    display: flex;
}

/*##############################*/

.imgInitial img{
    width: 100%;
    height: auto;
    height: 900px;
}

/* ######################## SEÇÃO DE PRODUTOS ############################## */

.listProducts ul{
    display: flex;
    justify-content: space-around;
}

.productCard {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 230px;
    padding: 20px;
    text-align: center;
}

.productCard img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.productCard h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.productCard p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

.buyButton {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buyButton:hover {
    background-color: #313030;
}

/* Banner */
.banner {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.banner img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

